<div class="container">
  <br/>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="./../coverphoto5.jpg" alt="Chania" width="460" height="345">
      </div>

      <div class="item">
        <img src="./../coverphoto.jpg" alt="Chania" width="460" height="345">
      </div>
    
      <div class="item">
        <img src="./../coverphoto3.jpg" alt="Flower" width="460" height="345">
      </div>

      <div class="item">
        <img src="./../coverphoto2.jpg" alt="Flower" width="460" height="345">
      </div>
    </div>

  </div>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->